<!DOCTYPE html>
<html>
<!--Prevent changing unescaped string-->
{% autoescape None %}
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript"> mxBasePath = '../src';</script>
<!--    <script type="text/javascript" src="http://127.0.0.1:9191/src/js/mxClient.js"></script>-->
    {{mxClient_js}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript">


	// Set mxGraph as a global variable
	var graph;

	function view_main(){
        if (!mxClient.isBrowserSupported())
        {
            //browser 확인
            mxUtils.error('Browser is not supported!', 200, false);
        }
        else
        {

            var modelPanel = document.createElement('div');
            modelPanel.setAttribute('id','modelPanel');
            modelPanel.setAttribute('class','modelPanel');
            document.body.appendChild(modelPanel);

            var editor = new mxEditor();
            graph = editor.graph;
            editor.setGraphContainer(modelPanel);


            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            //swimlane 아래에 있는 셀 객체들을 stack 형식으로 배치한다.
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            editor.layoutSwimlanes = true;
            editor.createSwimlaneLayout = function ()
            {
                var layout = new mxStackLayout(this.graph, false);
                layout.fill = true;
                layout.resizeParent = true;
                layout.border = 0;
                layout.isVertexMovable = function(cell)
                {
                    return true;
                };

                // Overrides the function to always return true
                return layout;
            };

            graph.isHtmlLabel = function(cell)
            {
                return true;
            };


            graph.expandedImage = null;

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 셀 스타일을 지정
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            //기본 스타일을 설정
            var style = new Object();
            style[mxConstants.STYLE_PERIMETER] = mxPerimeter.RectanglePerimeter;
            style[mxConstants.STYLE_ALIGN] = mxConstants.ALIGN_CENTER;
            style[mxConstants.STYLE_FILLCOLOR] = 'white';
            style[mxConstants.STYLE_FONTCOLOR] = '#000000';
            style[mxConstants.STYLE_FONTSIZE] = '13';
            style[mxConstants.STYLE_FONTSTYLE] = 0;
            graph.getStylesheet().putDefaultVertexStyle(style);

            //스타일 : Process
            var style = new Object();
            style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_SWIMLANE;
            style[mxConstants.STYLE_SWIMLANE_FILLCOLOR] = '#ffffff';
            style[mxConstants.STYLE_FILLCOLOR] = '#d7e8f7';
            style[mxConstants.STYLE_STROKECOLOR] = '#1B78C8';
            style[mxConstants.STYLE_STROKEWIDTH] = '2';
            style[mxConstants.STYLE_STARTSIZE] = '30';
            style[mxConstants.STYLE_FONTSTYLE] = mxConstants.FONT_BOLD;
            graph.getStylesheet().putCellStyle('Process', style);

            //스타일 : Process Image
            var style = new Object();
            style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_IMAGE;
            style[mxConstants.STYLE_IMAGE_ALIGN] = mxConstants.ALIGN_CENTER;
            style[mxConstants.STYLE_IMAGE_ALIGN] = mxConstants.ALIGN_MIDDLE;
            style[mxConstants.STYLE_IMAGE_BORDER] = '#1B78C8';
            style[mxConstants.STYLE_STROKEWIDTH] = '2';
            graph.getStylesheet().putCellStyle('ProcessImage', style);

            //스타일 : Item
            var style = new Object();
            style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_SWIMLANE;
            style[mxConstants.STYLE_SWIMLANE_FILLCOLOR] = '#ffffff';
            style[mxConstants.STYLE_FILLCOLOR] = '#d9ebcd';
            style[mxConstants.STYLE_STROKECOLOR] = '#70AD47';
            style[mxConstants.STYLE_STROKEWIDTH] = '2';
            style[mxConstants.STYLE_STARTSIZE] = '30';
            style[mxConstants.STYLE_ROUNDED] = 1;
            style[mxConstants.STYLE_ARCSIZE] = 30;
            style[mxConstants.STYLE_FONTSTYLE] = mxConstants.FONT_BOLD;
            graph.getStylesheet().putCellStyle('Item', style);

            //스타일 : Item Image
            var style = new Object();
            style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_IMAGE;
            style[mxConstants.STYLE_IMAGE_ALIGN] = mxConstants.ALIGN_CENTER;
            style[mxConstants.STYLE_IMAGE_ALIGN] = mxConstants.ALIGN_MIDDLE;
            style[mxConstants.STYLE_IMAGE_BORDER] = '#70AD47';
            style[mxConstants.STYLE_STROKEWIDTH] = '2';
            graph.getStylesheet().putCellStyle('ItemImage', style);

            //스타일 : Action Boundary
            var style = new Object();
            style[mxConstants.STYLE_FILLCOLOR] = '#ffffff00';
            style[mxConstants.STYLE_STROKECOLOR] = '#1B78C8';
            style[mxConstants.STYLE_STROKEWIDTH] = '1';
            graph.getStylesheet().putCellStyle('ActionBoundary', style);

            //스타일 : Property
            var style = new Object();
            style[mxConstants.STYLE_STROKECOLOR] = 'none';
            style[mxConstants.STYLE_FILLCOLOR] = 'none';
            style[mxConstants.STYLE_ALIGN] = 'ALIGN_LEFT ';
            graph.getStylesheet().putCellStyle('Property', style);

            //스타일 : Flow
            var style = new Object();
            style[mxConstants.STYLE_EDGE] = mxEdgeStyle.TopToBottom;
            style[mxConstants.STYLE_STROKEWIDTH] = '3';
            style[mxConstants.STYLE_STROKECOLOR] = '#B3B3B3';
            style[mxConstants.STYLE_ENDARROW] = 'block';
            graph.getStylesheet().putCellStyle('Flow', style);


            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            var parent = graph.getDefaultParent();
            graph.getModel().beginUpdate();
            try{
                {{bd_model}}

<!--                var c3 = graph.insertVertex(parent,null,'Induction Furnace', 150,30,100,200,'Process;');-->
<!--                var c31 = graph.insertVertex(c3,null,'', 0,0,100,50,'ProcessImage;image=images/img3.png;');-->
<!--                var c33 = graph.insertVertex(c3,null,'GGG1', 0,0,50,20,'actionBoundary');-->
<!--                var c35 = graph.insertVertex(c3,null,'continuous Cutting', 0,0,100,30,'actionBoundary');-->
<!--                var c36 = graph.insertVertex(c3,null,':', 0,0,100,30,'property');-->
<!--                var c37 = graph.insertVertex(c36,null,'Temp', 0,0,50,30,'property');-->
<!--                var c38 = graph.insertVertex(c36,null,'2', 50,0,50,30,'property');-->

<!--                var c4 = graph.insertVertex(parent,null,'slab', 650,30,100,200,'item;');-->
<!--                var c41 = graph.insertVertex(c4,null,'', 0,0,100,50,'itemImage;image=images/img4.png;');-->
<!--                var c46 = graph.insertVertex(c4,null,':', 0,0,100,30,'property');-->
<!--                var c47 = graph.insertVertex(c46,null,'Temp', 0,0,50,30,'property');-->
<!--                var c48 = graph.insertVertex(c46,null,'2', 50,0,50,30,'property');-->

<!--                var l3 = graph.insertEdge(parent,null,null,c3,c4,'flow');-->
            }
            finally
            {
                graph.getModel().endUpdate();
            }
        }
    }

    function update_data(msg_data) {
        console.log(msg_data)
        msg_data = msg_data.replace(/'/g, '"');
        msg_data = JSON.parse(msg_data);

        for(var key in msg_data) {
            var cell = graph.model.getCell(key);
            var value = msg_data[key].toFixed(2);

            graph.model.setValue(cell, value);
        }
    }

	//==================================================================================//
    // This receives events from the web distributor
    // e.g.,) {'variable1': 0.01, 'variable2': 0.02}
    //==================================================================================//
    var updater = {
        socket: null,

        start: function() {
            var url = "ws://" + location.host + "/guisocket";
            updater.socket = new WebSocket(url);
            updater.socket.onmessage = function(event) {
                <!--console.log(event)-->
                update_data(event.data);
            }
        }
    };

    updater.start();

    </script>
</head>
<!-- Page passes the container for the graph to the program -->
<body onload="view_main(document.getElementById('graphContainer'))">
<!-- Creates a container for the graph with a grid wallpaper -->
    <div id="graphContainer" style="overflow:hidden;">
         <!--style="overflow:hidden;width:500px;height:2000px;background:url('editors/images/grid.gif')">-->
    </div>
</body>
</html>

